@charset "utf-8";
@import "normalize";

.navbar {
  text-align: center;
  margin-bottom: 1.8em;
  background-color: white;;
  text-decoration: none;
  // border-bottom: solid;
  // border-width: 1px;
  font-family: 'Oswald', sans-serif;
  font-size: 1.5em;
  .navbar-nav {
    display: inline-block;
    position: relative;
  }
  .navbar-nav>li {
    display: inline-block;
  }
  .navbar-nav>li>a {
    text-decoration: none;
    color: #333333;
  }
  .navbar-nav>li>a:hover {
    text-decoration: underline;
    text-decoration-color: red;
    background-color: white;
    color: yellow;
  }
}
@media (min-width: 768px) {
  .navbar-nav {
    float: none;
  }
}

body {
  text-align: center;
  // padding-top: 2.25em;
  .profile-pic {
    max-height: 14em;
    margin-top: 1em;
    border-style: solid;
    border-width: .25em;
    border-color: black;
    border-radius: 100px;
  }
  .profile-pic:hover {
    border-color: yellow;
  }
  // .sections {
  //   margin-bottom: 30em;
  // }
  // .tippy-top-buffer {
  //   margin-top: 3em;
  // }
  .top-buffer {
    margin-top: 20.5em;
  }
  .bottom-buffer {
    margin-bottom: 2em;
  }
  .name {
    font-family: 'Oswald', sans-serif;
    font-size: 4em;
    margin-top: 2.5em;
    color: #333333;
  }
  .tagline {
    font-family: 'Oswald', sans-serif;
    font-size: 1.5em;
    text-align: center;
    color: #333333;
  }
  .skills {
    margin-top: 1.5em;
    font-family: 'Quattrocento', serif;
    font-size: 1.25em;
  }
  .section-title {
    font-family: 'Oswald', sans-serif;
    font-size: 3.5em;
    margin-top: 2em;
    color: #333333;
  }
  .quattro {
    font-family: 'Quattrocento', serif;
  }
  .descriptions {
    // background-color: #DDDDDD;
    // border-color: #AAAAAA;
    // border-style: solid;
    // border-radius: 15px;
    padding: 1em;
    font-family: 'Quattrocento', serif;
    color: #333333;
    font-size: 1.25em;
  }
  .fa {
    margin-bottom: 1.5em;
  }
  .assembly-point{
    font-family: 'Bitter', serif;
    background-color: #3CC47C;
    color: white;
    font-size: 3em;
    border-radius: 4px;
  }
  .spacebook {
    font-family: 'Baloo Tamma', cursive;
    background-color: #001f3f;
    color: #0074D9;
    font-size: 3em;
    border-radius: 4px;
  }
  .spokeup_img {
    max-height: 10em;
  }
  .contact {
    padding-left: 0;
    list-style-type: none;
  }
  .contact>li {
    display: inline-block;
    position: relative;
  }
  .fa {
    color: black;
  }
  .fa:hover {
    color: yellow;
  }
}
