<!-- Navbar -->
<div class="container">
  <nav class="navbar navbar-fixed-top">
    <ul class="nav navbar-nav">
      <li><a href="#section1">Home</a></li>
      <li><a href="#section2">Portfolio</a></li>
      <li><a href="#section3">Contact</a></li>
    </ul>
  </nav>
</div>

<!-- End navbar -->
<!-- Body -->
<div class="tippy-top-buffer"></div>
<div class="container">
  <!-- Section 1 -->
    <span class="sections" id="section1"></span>
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-6">
        <h1 class="name">COLIN RECKO</h1>
      </div>
      <div class="col-sm-3"></div>
    </div>
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-6">
        <h4 class="tagline">Austinite, Programmer, and Reality TV Junkie.</h4>
      </div>
      <div class="col-sm-3"></div>
    </div>
    <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-4">
        <img class="profile-pic" src="images/colin-crop.jpg">
      </div>
      <div class="col-sm-4"></div>
    </div>
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-6">
        <p class="skills">Specialize in but not limited to Ruby, Ruby on Rails, HTML, and CSS.</p>
      </div>
      <div class="col-sm-3"></div>
    </div>

</div>

<div class="top-buffer"></div>

<div class="container">
  <!-- Section 2 -->
    <span class="sections" id="section2"></span>
    <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-4">
        <h1 class="section-title">Portfolio</h1>
      </div>
      <div class="col-sm-4"></div>
    </div>
    <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-4">
        <a href="https://github.com/reckocp/final_project_cpr" class="port-links"><h3 class="assembly-point">Assembly Point</h3></a>
      </div>
      <div class="col-sm-4"></div>
    </div>
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-6">
        <p class="descriptions">
            Community-based application that connects users with information regarding their elected officials, allowing users to increase their knowledge regarding the politics that affect them. Everything from inception to completion was done by me in a two week period.
        </p>
      </div>
      <div class="col-sm-3"></div>
    </div>
    <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-4">
        <a href="https://github.com/reckocp/final_project_cpr">
          <i class="fa fa-github fa-3x" aria-hidden="true"></i>
        </a>
      </div>
      <div class="col-sm-4"></div>
    </div>

    <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-4">
        <a href="https://github.com/tiy-austin-ror/SpaceBook" class="port-links"><h3 class="spacebook">SpaceBook</h3></a>
      </div>
      <div class="col-sm-4"></div>
    </div>
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-6">
        <p class="descriptions">
            Room-reservation application geared towards companies looking to manage their space for events and meetings. I worked with a team of back-end developers simulating an agency project with a client.
        </p>
      </div>
      <div class="col-sm-3"></div>
    </div>
    <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-4">
        <a href="https://github.com/tiy-austin-ror/SpaceBook">
          <i class="fa fa-github fa-3x" aria-hidden="true"></i>
        </a>
      </div>
      <div class="col-sm-4"></div>
    </div>

    <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-4">
        <a href="https://github.com/reckocp/spokeup-backend" class="port-links"><img class="spokeup_img" src="images/spokeup.png"></a>
      </div>
      <div class="col-sm-4"></div>
    </div>
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-6">
        <p class="descriptions">
          Crowd-sourced application that reviews the bikeability of Austin neighborhoods. I was the lone back-end developer working with a designer and two Javascript engineers.
        </p>
      </div>
      <div class="col-sm-3"></div>
    </div>
    <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-4">
        <a href="https://github.com/reckocp/spokeup-backend">
          <i class="fa fa-github fa-3x" aria-hidden="true"></i>
        </a>
      </div>
      <div class="col-sm-4"></div>
    </div>
  <!-- End section 2 -->
</div>

<div class="top-buffer"></div>

<div class="container">
  <!-- Section 3 -->
  <span class="sections" id="section3"></span>
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <h1 class="section-title">Contact</h1>
    </div>
    <div class="col-sm-4"></div>
  </div>
  <div class="row">
    <ul class="contact">
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <li class="contact-links"><a href="https://www.linkedin.com/in/reckocp">
          <i class="fa fa-linkedin fa-2x" aria-hidden="true"></i>
        </a></li>
      </div>
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <li class="contact-links"><a href="https://github.com/reckocp">
          <i class="fa fa-github fa-2x" aria-hidden="true"></i>
        </a></li>
      </div>
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <li class="contact-links"><a href="https://twitter.com/colinrecko88">
          <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
        </a></li>
      </div>
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <li class="contact-links"><a href= "mailto:reckocp@gmail.com">
          <i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i>
        </a></li>
      </div>
    </ul>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
  </div>
  <!-- End section 3 -->
</div>
<div class="bottom-buffer"></div>
